<div class='signin_container'>
  <div class="signin_inner">
    <h2 class="signin_title">サインイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>


      <div class="actions">
        <%= f.submit "サインイン" %>
      </div>
    <% end %>
  </div>
</div>
