<div class="card_new_page">
  <div class="card_new_container">
    <%= form_with model: @card, url: { action: :create }, hrml: { class: "card_new_form" }, local: true do |f| %>
      <%= f.hidden_field :list_id, value: @list.id %>
    <% if @card.errors.any? %>
      <p class="text_new_arddanger">タイトルは1～255文字以内で入力してください</p>
    <% end %>
    <div class="card_title">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "カード名" %>
    </div>
    <div class="card_memo">
    <%= f.label :memo %>
    <%= f.text_area :memo, autofocus: true, class: "form-control", placeholder: "詳細" %>
    <%= f.submit "作成する", class: "submitBtn" %>
    </div>
  <% end %>
  </div>
</div>